body {
        background-image: url('resort02.png');
        background-size: cover;
        background-position: center center;
        height: 100vh; /* This will make it take the full viewport height */
        animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar-nav.ml-auto {
    background-color: white;
    margin-left: auto !important;
    
}

.navbar {
    position: relative; /* Ensure the navbar has a relative positioning context */
    padding: 0.5rem 1rem;  /* Adjust to your needs. */
    background-color: white;

}

.navbar-toggler {
    margin: 0;  /* Remove margin to ensure the toggler doesn't push the navbar boundaries. */
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: white;
}


.brand-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.responsive-text {
    font-size: 4vw;  /* Adjust this value as needed */
    text-align: left; 
    padding: 2rem 6rem; 
    width: 100%;
    color:white;
}
@media (max-width: 600px) {
    .brand-container {
        position: relative;
        left: 0;
        transform: none;
    }
}

@media (max-width: 100px) {  /* Adjusting for the default Bootstrap navbar breakpoint */
    .navbar-toggler {
        position: absolute;
        top: 0.5rem;  /* Adjust as needed for vertical alignment */
        left: 0.5rem; /* Adjust as needed for horizontal spacing */
        z-index: 2;   /* To ensure the toggler remains above other navbar elements */
    }
}


html#ecwid_html body#ecwid_body .ec-minicart {
    display:none;
   
}


html#ecwid_html body#ecwid_body .ec-minicart {
    display:none;
}
   
html#ecwid_html body#ecwid_body .ec-minicart {
    display: none;
}

html#ecwid_html body#ecwid_body .ec-minicart {
   position:absolute !important;
   top:2;
   right:10;

}

html#ecwid_html body#ecwid_body .ec-minicart__icon svg {
    display: none !important;
    background-color: transparent !important;
    width: 50%;
    height: 50%;
    box-shadow: none;
    content:"Bag";
}

html#ecwid_html body#ecwid_body div.ecwid-ProductBrowserPopup>div {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black !important;
    border-radius: 0px !important;
    position: relative;
    margin: 0 auto;
    background-image: url("bag.png") !important;
    background-repeat: no-repeat !important;
    display: inline-block;
    background-position: bottom 50px left 100px !important;
}