body {
        background-color: white;
        background-size: cover;
        background-position: center center;
        height: 100vh; /* This will make it take the full viewport height */
        animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

a {
    color: black;
    text-decoration: none; /* This ensures no underline by default */
    transition: border-bottom 0.3s;
}



.nav-link {
    text-decoration: none !important;
}

a {
    color: black;
    text-decoration: none;
    transition: border-bottom 0.3s;
    line-height: 1.2; /* Adjust as needed */
}

a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 0; /* Adjust as needed */
}

.nav-link {
    text-decoration: none !important;
}

.navbar-nav.ml-auto {
    background-color: transparent;
    margin-left: auto !important;
    
}

.navbar {
    position: relative; /* Ensure the navbar has a relative positioning context */
    padding: 0.5rem 1rem;  /* Adjust to your needs. */
    background-color: transparent;
    text-decoration: none;

}

.nav-link {
    text-decoration: none !important; /* Ensure no underline */
}

.navbar-toggler {
    margin: 0;  /* Remove margin to ensure the toggler doesn't push the navbar boundaries. */
    text-decoration: none;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: white;
}

.brand-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.responsive-text {
    font-size: 4vw;  /* Adjust this value as needed */
    text-align: center; 
    padding: 2rem 6rem; 
    width: 100%;
}

.responsive-text02 {
    font-size: 4vw;  /* Adjust this value as needed */
    text-align: center; 
    padding: 2rem 6rem; 
    width: 100%;
    letter-spacing: 2rem;
}

.responsive-text03 {
    font-size: 2vw;  /* Adjust this value as needed */
    text-align: center; 
    padding: 2rem 6rem; 
    width: 100%;
    margin-top: 40px;
}

.responsive-text04 {
    font-size: 2vw;  /* Adjust this value as needed */
    text-align: center; 
    padding: 2rem 6rem; 
    width: 100%;
    margin-top: -10px;
}

.responsive-image {
    width: 30%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto; /* this will center the image */
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; /* light gray */
    padding: 5px 0;
}

.footer-left,
.footer-right {
    display: inline-block;
}

.footer-left {
    float: left;
    margin-left: 0px;
}

.footer-right {
    float: right;
    margin-right: 0px;
}

@media (max-width: 300px) {
    .responsive-text {
        font-size: 12px;  /* Set a minimum size for very small screens */
    }
    .responsive-text02 {
        font-size: 12px;  /* Set a minimum size for very small screens */
    }

}

@media (min-width: 1200px) {
    .responsive-text {
        font-size: 48px;  /* Set a fixed size for wider screens */
    }
    .responsive-text02 {
        font-size: 22px;  /* Set a minimum size for very small screens */
    }
  
    
}


@media (max-width: 600px) {
    .brand-container {
        position: relative;
        left: 0;
        transform: translateX(-50%);
    }
    
}

@media (max-width: 100px) {  /* Adjusting for the default Bootstrap navbar breakpoint */
    .navbar-toggler {
        position: absolute;
        top: 0.5rem;  /* Adjust as needed for vertical alignment */
        left: 0.5rem; /* Adjust as needed for horizontal spacing */
        z-index: 2;   /* To ensure the toggler remains above other navbar elements */
    }
}

@media (max-width: 768px) {
    .responsive-image {
        width: 170%; /* or any other percentage that looks good on mobile */
    }   
}

@media (min-width: 600px) {
    .footer-left {
        float: left;
        margin-left: -20px;
    }
}

  




html#ecwid_html body#ecwid_body .ec-minicart {
    display:none;
   
}


html#ecwid_html body#ecwid_body .ec-minicart {
    display:none;
}
   
html#ecwid_html body#ecwid_body .ec-minicart {
    display: none;
}

html#ecwid_html body#ecwid_body .ec-minicart {
   position:absolute !important;
   top:2;
   right:10;

}

html#ecwid_html body#ecwid_body .ec-minicart__icon svg {
    display: none ;
    background-color: transparent !important;
    width: 50%;
    height: 50%;
    box-shadow: none;
    content:"Bag";
}

html#ecwid_html body#ecwid_body div.ecwid-ProductBrowserPopup>div {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black !important;
    border-radius: 0px !important;
    position: relative;
    margin: 0 auto;
    /*background-image: url("bag.png") !important;
    background-repeat: no-repeat !important;*/
    display: inline-block;
    background-position: bottom 50px left 100px !important;
    right:0  !important;
}

#navbarNav {
    margin-right:5%;
}

html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .ec-cart-next {
    display: none !important;
}

html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store.ec-store__cart-page .ec-cart-item__picture {
    width: 170px !important;
}

html#ecwid_html body#ecwid_body .ec-size.ec-size--m .ec-store.ec-store__subscription-page .ec-cart__body, html#ecwid_html body#ecwid_body .ec-size.ec-size--m .ec-store.ec-store__cart-page .ec-cart__body, html#ecwid_html body#ecwid_body .ec-size.ec-size--m .ec-store.ec-store__account-page .ec-cart__body {
    width: 38.3333333333%;
}

html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .ec-cart__shopping {
    display: none !important;

}

html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .ec-cart__body .ec-page-title {
    display: none !important;
}

html#ecwid_html body#ecwid_body .ec-minicart.ec-minicart--pill {
    display: none !important;

}


html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .ec-cart__body {
        padding-left: -355px;
        margin-left: -45% !important;
        margin-top: 25% !important;
    }
    
    
    
    html#ecwid_html body#ecwid_body div.ecwid-ProductBrowserPopup {
        z-index: 900;
        border: 0;
        left: 0 !important;
        right: 0 !important;
        padding: 0;
        max-width: 100%;
        box-sizing: border-box;
        background: transparent;
        text-align: right !important;
        margin: 0;
        clip: auto !important;
    }
    
    
    html#ecwid_html body#ecwid_body div.ecwid-overlay {
        background-color: transparent !important;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }